body {
	font-family: monospace;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

form {
	text-align: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

label {
	display: block;
	font-weight: bold;
	flex-basis: 100%;
	flex-shrink: 0;
	margin-bottom: 10px;
}

label span {
	display: block;
	font-weight: normal;
}

input[type=text] {
	flex-basis: 70%;
}

input[type=submit] {
	flex-basis: 25%;
	margin-left: 10px;
}

/* mars plain */
#mars-plain {
	display: inline-block;
	clear: both;
}

ol {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	white-space: nowrap;
}

li li {
	display: inline-block;
	width: 100px;
	height: 100px;
	background: #960;
}

li:nth-child(odd) li:nth-child(even),
li:nth-child(even) li:nth-child(odd) {
	background: #f90;
}

.line {
	height: 100px;
}

/* the rover */
#mars-rover {
	cursor: pointer;
	width: 50px;
	height: 50px;
	margin: 25px;
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	transition: all 1s linear;
}

#mars-rover:before {
	content: "^";
	color: #f00;
	width: 100%;
	text-align: center;
	display: block;
	font-family: monospace;
	font-size: 40px;
}
