body {
	font-family: monospace;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

form {
	text-align: left;
}

form label {
	display: block;
}

form span {
	font-weight: normal;
}

form label {
	font-weight: bold;
}

input[type=submit] {
	width: 100%;
	margin: 5px 0;
}

#rover-coordinates {
	float: left;
	width: 60%;
}

#rover-coordinates input {
	width: 100%;
}

#field-size {
	float: right;
	width: 30%;
}

#field-size input[type=number] {
	width: 45%;
}

/* mars plain */
#mars-plain {
	display: inline-block;
	clear: both;
}

ol {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	white-space: nowrap;
}

li li {
	display: inline-block;
	width: 100px;
	height: 100px;
	background: #960;
}

li:nth-child(odd) li:nth-child(even),
li:nth-child(even) li:nth-child(odd) {
	background: #f90;
}

.line {
	height: 100px;
}

/* the rover */
#mars-rover {
	cursor: pointer;
	width: 50px;
	height: 50px;
	margin: 25px;
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	transition: left 1s linear, 
				top  1s linear,
				transform 1s linear;
}

#mars-rover:before {
	content: "^";
	color: #f00;
	width: 100%;
	text-align: center;
	display: block;
	font-family: monospace;
	font-size: 40px;
}